Repository Team-BodyBuddy/body-buddy-front, pull requests merged in 2025-03, with the labels that each got.

#95 [feat] User: RankingPage apis
  src/apis/RankingPage/rankingApi.ts
  src/components/Ranking/Ranking.tsx
  src/components/Ranking/RankingList.tsx
  src/entity/ApiResponse.ts
  src/entity/RankingEntity.ts
  src/pages/User/RankingPage/RankingPage.tsx
Labels: 🔗 api

#103 chore/item-style
  src/components/BodyStore/Styles.ts
  src/styles/GlobalStyles.ts
Labels: 💄 design

#106 [Feat] Feat: gyms api
  src/apis/gyms/index.ts
  src/apis/gyms/mocks.ts
  src/apis/gyms/types.ts
  src/components/FilterSection/FilterSection.tsx
  src/components/FilterSection/Styles.ts
  src/react-query/query/gyms/useGyms.tsx
  src/react-query/query/gyms/useRegions.tsx
Labels: 💄 design, 🔗 api, 🖤 refactoring

#107 [feat] 운동관리페이지 GET /calendar/memberId/month api 연결
  src/apis/Calendar/calendarApi.ts
  src/assets/icons/TodoIcon-off.svg
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/CalendarElement/Date/CalendarDate.tsx
  src/components/Calendar/CalendarElement/Date/Styles.ts
  src/components/Calendar/CalendarElement/Week/CalendarWeek.tsx
  src/components/Calendar/Styles.ts
  src/entity/CalendarEntity.ts
  src/pages/Trainer/TrainerMemberPage/TrainerMemberPage.tsx
  src/pages/User/ExercisePage/ExercisePage.tsx
  src/pages/User/ExercisePage/Styles.ts
Labels: 🔗 api

#108 [feat] 오늘의 평가 관리 POST API 연결
  src/apis/TodayScore/todayScoreApi.ts
  src/assets/icons/today-bad.svg
  src/assets/icons/today-good.svg
  src/assets/icons/today-so.svg
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/CalendarElement/Date/CalendarDate.tsx
  src/components/Calendar/CalendarElement/Date/Styles.ts
  src/components/Calendar/CalendarElement/Week/CalendarWeek.tsx
  src/components/TodayScore/Styles.ts
  src/components/TodayScore/TodayScore.tsx
  src/components/icons.ts
  src/pages/Trainer/TrainerMemberPage/TrainerMemberPage.tsx
  src/pages/User/ExercisePage/ExercisePage.tsx
  src/pages/User/ExercisePage/useExerciseHooks.ts
Labels: 💄 design, 🔗 api

#109 [Feat] Feat: trainer/badges api
  src/apis/badges/index.ts
  src/apis/badges/mocks.ts
  src/apis/badges/types.ts
  src/components/BadgeSection/BadgeSection.tsx
  src/pages/Trainer/TrainerPortfolio/TrainerPortfolio.tsx
  src/react-query/query/badges/useBadgesQuery.tsx
Labels: 🔗 api, 🖤 refactoring

#110 [feat] 랭킹페이지 GET 요청 실패 시 목데이터 연결
  src/mocks/rank-mock.ts
  src/pages/User/RankingPage/RankingPage.tsx
Labels: ⚠️ warning

#111 [feat] User: Routine API
  src/apis/Routine/routineApi.ts
  src/components/Calendar/CalendarElement/Date/CalendarDate.tsx
  src/components/Calendar/CalendarElement/Date/Styles.ts
  src/components/RoutineInput/RoutineInput.tsx
  src/components/RoutineInput/Styles.ts
  src/components/Todo/TodoElement.tsx
  src/entity/RoutineEntity.ts
  src/pages/Trainer/TrainerMemberPage/TrainerMemberPage.tsx
  src/pages/User/ExercisePage/ExercisePage.tsx
  src/pages/User/ExercisePage/Styles.ts
  src/pages/User/ExercisePage/useExerciseHooks.ts
Labels: 🔗 api

#112 Feat: mypage get api연결
  package-lock.json
  package.json
  src/apis/MyPage/getUser/index.ts
  src/apis/MyPage/getUser/mocks.ts
  src/apis/MyPage/getUser/types.ts
  src/components/MyPage/EditInfo/EditInfo.tsx
  src/components/MyPage/Nickname/Nickname.tsx
  src/components/MyPage/Toast/Styles.ts
  src/components/MyPage/UserInfo/UserInfo.tsx
  src/pages/User/UserMyPage/MyPage/MyPage.tsx
  src/react-query/query/myPage/useGetUser.tsx
Labels: 💄 design, 🔗 api

#113 [Feat] Feat: trainer portfolio put api
  src/apis/trainer/portfolio/index.ts
  src/apis/trainer/portfolio/mocks.ts
  src/apis/trainer/portfolio/types.ts
  src/components/EditableList/EditableList.tsx
  src/react-query/mutation/usePortfolio/useUpdateMutation.tsx
Labels: 💄 design, 🔗 api

#115 [Feat] Feat: profile list api
  src/apis/bodyBuddy/profile/index.ts
  src/apis/bodyBuddy/profile/mocks.ts
  src/apis/bodyBuddy/profile/types.ts
  src/components/ListSection/ListSection.tsx
  src/react-query/query/bodyBuddy/useProfileQuery.tsx
Labels: 🔗 api, 🖤 refactoring

#117 [Feat] Feat: BodyBuddyPage Portfolio api
  src/App.tsx
  src/apis/bodyBuddy/portfolio/index.ts
  src/apis/bodyBuddy/portfolio/mocks.ts
  src/apis/bodyBuddy/portfolio/types.ts
  src/components/AboutSection/AboutSection.tsx
  src/components/AboutSection/Styles.ts
  src/components/BackButton/BackButton.tsx
  src/components/BackButton/Styles.ts
  src/components/BadgeSection/Styles.ts
  src/pages/User/BodyBuddyPage/BodyBuddyPage.tsx
  src/pages/User/PortfolioPage/PortfolioPage.tsx
  src/pages/User/PortfolioPage/Styles.ts
  src/react-query/query/bodyBuddy/usePortfolio.tsx
Labels: 💄 design, 🔗 api, 🖤 refactoring

#118 chore/style
  src/components/TopNavigation/Styles.ts
  src/components/TopNavigation/TopNavigation.tsx
  src/pages/User/PortfolioPage/Styles.ts
  src/styles/GlobalStyles.ts
Labels: 💄 design

#122 [refactor] 불필요한 재요청 방지 및 캘린더 evalutionStatus 추가
  src/apis/TodayScore/todayScoreApi.ts
  src/components/Calendar/CalendarElement/Date/CalendarDate.tsx
  src/components/Calendar/CalendarElement/Date/Styles.ts
  src/components/Calendar/CalendarElement/Week/CalendarWeek.tsx
  src/entity/CalendarEntity.ts
  src/react-query/mutation/useRoutineMutation.ts
  src/react-query/mutation/useTodayScoreMutation.ts
  src/utils/updateMonthData.ts
Labels: 🔗 api, 🖤 refactoring
